/*-------------------------------------
zTree Style

version:	3.5.19
author:		Hunter.z
email:		hunter.z@263.net
website:	http://code.google.com/p/jquerytree/

-------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.ztree * {padding:0; margin:0; font-size:20px; font-family: Montserrat,Verdana, Arial, Helvetica, AppleGothic, sans-serif}
/*.ztree {margin:0; padding:5px; color:#333}*/
.ztree li{list-style:none; line-height:1.5; text-align:left;font-weight:400; min-width:100%;white-space:nowrap; outline:0}
.ztree li ul{ margin:0; padding:0 0 0 75px}
.ztree li ul.line{ *background:url(./img/line_conn.gif) 0 0 repeat-y;border-left:2px dashed rgb(0, 121, 211);box-sizing:border-box;}
.ztree li a {border:1px solid #e5e5e5;display:block;background-color:#fff;min-width:100%;padding:10px 20px; margin:-10px; cursor:pointer; color:#333;
	text-decoration:none; vertical-align:top;}
/*.ztree li a:hover {text-decoration:underline}*/


.ztree li a.curSelectedNode {*padding-top:0px; background-color:#e5e5e5; color:black;  border:1px #e5e5e5 solid; opacity:0.8;}
.ztree li a.curSelectedNode_Edit {*padding-top:0px; background-color:#e5e5e5; color:black;  border:1px #e5e5e5 solid; opacity:0.8;}
.ztree li a.tmpTargetNode_inner {*padding-top:0px; background-color:#e5e5e5; color:white;  border:1px #e5e5e5 solid;opacity:0.8; filter:alpha(opacity=80)}

.ztree li a.tmpTargetNode_prev {}
.ztree li a.tmpTargetNode_next {}

.ztree li a input.rename {height:14px; width:80px; padding:0; margin:0;
	font-size:12px; border:1px #e5e5e5 solid; *border:0px}
.ztree li span {line-height:16px; margin-right:2px}
/*.ztree li span.button {line-height:0; margin:0; width:16px; height:16px; display: inline-block; vertical-align:middle;
	border:0 none; cursor: pointer;outline:none;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-image:url("/js/img/zTreeStandard.png"); *background-image:url("/js/img/zTreeStandard.gif")}*/



/*

.ztree li span.button.chk {width:13px; height:13px; margin:0 3px 0 0; cursor: auto}
.ztree li span.button.chk.checkbox_false_full {background-position:0 0}
.ztree li span.button.chk.checkbox_false_full_focus {background-position:0 -14px}
.ztree li span.button.chk.checkbox_false_part {background-position:0 -28px}
.ztree li span.button.chk.checkbox_false_part_focus {background-position:0 -42px}
.ztree li span.button.chk.checkbox_false_disable {background-position:0 -56px}
.ztree li span.button.chk.checkbox_true_full {background-position:-14px 0}
.ztree li span.button.chk.checkbox_true_full_focus {background-position:-14px -14px}
.ztree li span.button.chk.checkbox_true_part {background-position:-14px -28px}
.ztree li span.button.chk.checkbox_true_part_focus {background-position:-14px -42px}
.ztree li span.button.chk.checkbox_true_disable {background-position:-14px -56px}
.ztree li span.button.chk.radio_false_full {background-position:-28px 0}
.ztree li span.button.chk.radio_false_full_focus {background-position:-28px -14px}
.ztree li span.button.chk.radio_false_part {background-position:-28px -28px}
.ztree li span.button.chk.radio_false_part_focus {background-position:-28px -42px}
.ztree li span.button.chk.radio_false_disable {background-position:-28px -56px}
.ztree li span.button.chk.radio_true_full {background-position:-42px 0}
.ztree li span.button.chk.radio_true_full_focus {background-position:-42px -14px}
.ztree li span.button.chk.radio_true_part {background-position:-42px -28px}
.ztree li span.button.chk.radio_true_part_focus {background-position:-42px -42px}
.ztree li span.button.chk.radio_true_disable {background-position:-42px -56px}

.ztree li span.button.switch {width:18px; height:18px}
.ztree li span.button.root_open{background-position:-92px -54px}
.ztree li span.button.root_close{background-position:-74px -54px}
.ztree li span.button.roots_open{background-position:-92px 0}
.ztree li span.button.roots_close{background-position:-74px 0}
.ztree li span.button.center_open{background-position:-92px -18px}
.ztree li span.button.center_close{background-position:-74px -18px}
.ztree li span.button.bottom_open{background-position:-92px -36px}
.ztree li span.button.bottom_close{background-position:-74px -36px}
.ztree li span.button.noline_open{background-position:-92px -72px}
.ztree li span.button.noline_close{background-position:-74px -72px}
.ztree li span.button.root_docu{ background:none;}
.ztree li span.button.roots_docu{background-position:-56px 0}
.ztree li span.button.center_docu{background-position:-56px -18px}
.ztree li span.button.bottom_docu{background-position:-56px -36px}
.ztree li span.button.noline_docu{ background:none;}

/*.ztree li span.button.ico_open{margin-right:2px; background-position:-110px -16px; vertical-align:top; *vertical-align:middle}*/
/*.ztree li span.button.ico_close{margin-right:2px; background-position:-110px 0; vertical-align:top; *vertical-align:middle}*/

/*
.ztree li span.button.ico_docu{margin-right:2px; background-position:-110px -32px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.edit {margin-right:2px; background-position:-110px -48px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.remove {margin-right:2px; background-position:-110px -64px; vertical-align:top; *vertical-align:middle}

.ztree li span.button.ico_loading{margin-right:2px; background:url(./img/loading.gif) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
*/




ul.tmpTargetzTree {background-color:#e5e5e5; opacity:0.8; filter:alpha(opacity=80)}

span.tmpzTreeMove_arrow {width:16px; height:16px; display: inline-block; padding:0; margin:2px 0 0 1px; border:0 none; position:absolute;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-position:-110px -80px; background-image:url("/js/img/zTreeStandard.png"); *background-image:url("/js/img/zTreeStandard.gif")}

ul.ztree.zTreeDragUL {margin:0; padding:0; position:absolute; width:auto; height:auto;overflow:hidden; background-color:#e5e5e5; border:1px #000000 dotted; opacity:0.8; filter:alpha(opacity=80)}
.zTreeMask {z-index:10000; background-color:#e5e5e5; opacity:0.0; filter:alpha(opacity=0); position:absolute}

/* level style*/
/*.ztree li span.button.level0 {
	display:none;
}
.ztree li ul.level0 {
	padding:0;
	background:none;
}*/



.btn_menu {padding:5px;border:1px solid #ced9de;background:rgb(246,249,250);cursor:pointer}
.ztree li a{color:#555}
.ztree li a:hover {text-decoration:none; background-color: #FAD7E0;}
.pool{
  width:50px;
  height:50px;
}
.user_id{
  margin-left:20px;
  font-weight:600;
  color:black;
}
.user_name{
  margin-left:20px;
  font-size:15px;
  font-weight:600;
  color:royalblue;
  font-family:dotum,Arial, Helvetica, sans-serif;
}
.user_nick{
  margin-left:10px;
  font-size:13px;
  color:#777;
  font-family:dotum,Arial, Helvetica, sans-serif;
}

.mb_pv{
  font-size:16px;
  color:green;
  font-weight:600;
}

.mb_rate{
  font-size:16px;
  font-weight:600;
  color:blue;
}
.mb_acc{
  font-size:16px;
  font-weight:600;
  color:#ff1288;
}


.treedemo .mb {
  margin: 3px 0;
  word-break: break-all;
  white-space: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 11px;
  padding: 0;
  color: orange;
}


/* 유저 아이콘*/
.user_icon {
	background:#cbd2de;width:100%;height:100%;
	text-align:center;display:block;border-radius:50%;
	display: inline-block;
  width: 34px;
  height: 34px;
  vertical-align: middle !important;
  line-height: 30px !important;
	margin-right:5px;
	font-size:19px !important;
}
.user_icon > i{font-weight: 300;}

.user_icon.lv0{
	color:white !important;
}
.user_icon.lv1{
	background:#2b3a6d;
	color:white !important;
	}
.user_icon.lv2{
	background:#61b5ff;
	color:#1a4158 !important;
	}
.user_icon.lv3{
	background:red;
	color:white !important;
}
.user_icon.lv4{
	background:green;
	color:white !important;
}
.user_icon.lv5{
	background:black;
	color:gold !important;
}

.user_icon.lv9{
	background:black;
	color:white !important;
}
.user_icon.lv10{
	background:black;
	color:white !important;
}
.badge{padding:3px 6px;color:white;font-weight:600;}

/*검색바*/
.searchid{color:green;font-weight:600;}
.search_nick{color:#666;font-weight:300;margin-left:10px;}

/* 컬러 */

.color0 {background: #cacaca !important;color:black}
.color1 {background: #b55dccd9 !important}
.color2 {background: #516feb !important;}
.color3 {background: #09c3fd !important;}
.color4 {background: #5ed2dc !important;}
.color5 {background: #373cbc !important;}
.color6 {background: #2b3a6d !important;}
.color9 {background: #6214ab !important;}
.color10 {background: #6214ab !important;}

.grade_0{background:#ddd !important;}
.grade_1{background:gold !important;}
.grade_2{background:green !important;}
.grade_3{background:red !important;}
.grade_4{background:orangered !important;}
.grade_5{background:blue !important;}
.grade_6{background:black !important;}
.grade_9{background:black !important;}



/*조직도 커스텀*/
.flex_container{display:flex}
.flex-item{display:flex;}

#div_left{flex-shrink: 0;width:200px;}
#div_right{flex-grow:1;}

.left_bar{padding:5px 5px 5px 5px;border:1px solid #d9d9d9;}
.left_bar .frm_input,.left_bar select{line-height:26px;height:26px;}

.left_bar .left_top{padding:8px; background:#f2f5f9;display:flex;flex-direction:column;}
.left_bar .left_top ol{display:flex;align-items: center;padding:5px 0;}
.left_bar .left_top ol:last-child{border:none;}

.left_bar .left_top ol p{text-align: left;font-weight:600;}
.left_bar .left_top ol label{margin-left:5px;}
.left_bar .left_top .buttonset{margin:0 10px;text-align:center}
.left_bar  #div_member{margin-top:5px;}


.zTreeDemoBackground{
  width:100%;padding:15px;border:1px solid #d9d9d9;background:#fcfcfc;min-height:600px;
}


.grow1 {flex-grow:1}
.grow2 {flex-grow:2}

.center{text-align:center}
.just-center{justify-content: center;}
.right{text-align:right}

.left_bar hr{width:100%;height:0;border:none;border-bottom:1px solid #ececec}

.flex{display:flex}
.tbp10{padding-top:10px !important;padding-bottom:10px !important;}
.tbp20{padding-top:20px !important;padding-bottom:20px !important;}