.red {
  color: red;
}

.text-center {
  text-align: center;
}

.hash {
  min-width: 120px;
  height: auto;
  display: block;
}

.reg_text {
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 80%;
}

select {
  padding: 5px;
  min-width: 80px;
  width: 80%;
}

table tr td {
  text-align: center;
}

.row_dup td {
  background: rgba(253, 240, 220, 0.8);
}

.btn_submit.excel {
  background: green;
  position: absolute;
  top: 4.35em;
  left: 97em;
  height: 24px;
  font-size: 0.95em;
}

.local_ov strong {
  color: red;
  font-weight: 600;
}

.local_ov .tit {
  color: black;
  font-weight: 600;
}

.local_ov a {
  margin-left: 20px;
}