.btn_menu {
  padding: 5px;
  border: 1px solid #ced9de;
  background: rgb(246, 249, 250);
  cursor: pointer;
}

.ztree li a:hover {
  text-decoration: none;
  background-color: #FAD7E0;
}

.pool {
  width: 50px;
  height: 50px;
}

.user_name {
  margin-left: 50px;
}