@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:300,400,500,700|Noto+Serif+SC:200,300,400,500,600,700&display=swap');

body{font-family: 'Noto Sans SC',  'Noto Serif SC' , sans-serif; }
html, body, div, span, applet, abject, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, 
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	font-family: 'Noto Sans SC',  'Noto Serif SC' , sans-serif;
}
.top_title h3{font-family:'Noto Serif SC', serif;}

/* 
font-family: 'Noto Sans SC', sans-serif;
font-family: 'Noto Serif SC', serif;
*/