header{
	position: relative;
	width: 100%;
}
.top_title{
	background:#1d1e20;
	color: #000;
	text-align: left;
	box-sizing:border-box;
	padding:15px 20px;
	box-shadow:0 1px 0px rgba(0,0,0,0.25)
}
.top_title>a{height:20px;}

.top_title h3{line-height:20px; width: auto;  margin: 0 auto; padding-right: 13px; font-size:1.3rem !important;margin-left:30px;color: #EFEFEF;}
.top_title h3 img{height: 15px;vertical-align: bottom; margin-top:-10px;margin-right: 5px;}

/* 모바일 메뉴 버튼 */
.menu {
	position: absolute;
	top:0;
	height:100%;
	width:54px;
	text-align:center;
	vertical-align:middle;
	line-height:50px;
}
.menu img{height: 23px;}

.menuback{position: absolute;width:50px;height:54px;text-align:center}
.menuback a{height:54px;width:100%;line-height:54px;}
.menuback a i {color: #fff;}
.menu_icon{font-size:20px;color:inherit;}
.back_icon{font-size:28px;color:inherit;}

header a.close, a.close:link {
	background-color: #2d2d2d;
	width: 50px;
	height: 50px;
	position: absolute;
	left: -50px;
	top: 0;
	line-height: 50px;
	text-align: center;
	color: #fff;
}

.left_gnbWrap {height: 100%; position: fixed;width: 250px;left: -200px;top: 0;background-color: #1d1e20;z-index: 999;transition: all 0.3s;visibility: hidden;box-sizing: border-box;overflow-y: auto;overflow-x: hidden;transition: all .2s;box-shadow: 0 0 2px gray;}

.left_gnbWrap ul.left_gnb li .bullet {font-size: 16px;}

.left_gnbWrap.on {left: 0; visibility: visible;}

.left_gnbWrap i {margin-right: 7px;vertical-align: bottom;}

.gnb_logo_top{background:#1d1e20; padding: 30px 70px;}

.left_gnb > li {width: 100%;}

.left_gnb li  a {
	display: block;line-height: 50px;width: 100%;height: 45px;color: #EFEFEF;font-size:15px;padding-left:15px;
}
.left_gnb li a:hover{background:#262626;}

.left_gnb  li  a span{
	text-transform:uppercase;
}
.left_gnb > li img{
	width: 15px;
	height: 10px;
	/* padding : 0px 10px; */
	margin-right:10px;
	background: white;
}
.menu_tree:before{
	content: "";
	background-image: url(../../_images/menu_arrow.png);
	background-size:15px;
	display: inline-block;
	width: 15px;
	height: 8px;
	float: right;
	padding-right: 30px;
	background-repeat: no-repeat;
	margin-top:10px;
	transform: rotate(-90deg);
}
.menu_tree.on:before{transform: rotate(0deg); padding-right: 20px; margin-top:23px;}
.left_gnb > li > ul {display: none;}

.left_gnb ul a {padding-left: 50px;}


.gnb_dim{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	top: 0;
	left:0;
	display: none;
}

.lang_selection{
	position:absolute;
	right:15px;
	top:8px;
}

@media screen and (min-width:768px) {
	.left_gnbWrap{height: 100vh; position: fixed; visibility:visible; left:0; box-shadow: 0px 0 2px grey;}
	#wrapper{max-width:inherit; position:initial;left:0;margin-left: 250px;}
	header{max-width:100%;}
	.menu{visibility:hidden}
	.top_title h3{margin-left:0;}
}