
/* ==================== LEVEL STRUCTURE VIEW ===================== */

.shortcuts {
	font-size: 12px;
	display: inline-block;
}

.big-container-wrapper {
	margin: 0 auto;
	position: relative;
	top: 80px;
	/*width: 1200px;*/
}

.card-header {
	background-color: white;
	padding: 0;
}

.card-info-container {
	margin: 0 auto;
}

.card-info-left, .card-info-middle, .card-info-right {
	display: inline-block;
	padding: 20px;
	text-align: left;
}

.card-info-middle, .card-info-right {
	margin-left: 50px;
}

.lvl {
	background-color: white;
	border: 1px solid #e5e5e5;
	cursor: pointer;
	font-size:18px;
	padding: 10px;
	position: relative;
  transition: all 0.2s linear;
  color:#113a56;
}

.lvl > i {
	float: right;
	margin: 7px 9px 0 0;
}

.lvl > i::before {
	content: "\f107";
}
.lvl.lvl-is-open > i::before {
	content: "\f106";
}

.lvl img {
	margin-right: 10px;
	margin-left: 5px;
	width: 40px;
	transition: all 0.2s linear;
}

.lvl img:hover {
	box-shadow: 1px 2px 5px grey;
}

.closed .lvl img {
	border: 1px solid #ccc;
}

.lvl-container {
	margin-bottom: 15px
}

.lvl-info {
	background-color: white;
	/*border: 1px solid #e5e5e5;*/
	border-top: none;
	max-height: 0;
	overflow: hidden;
	overflow-x: auto;
	/* transition: all 0.2s linear; */
	white-space: nowrap;
}

.level-structure-title {
	display: block;
	margin-right: 10px;
}

.lvl-one {
	position: relative;
	width: 100%;
}
.lvl-1{position: relative;
	width: 100%;}

.lvl-two {
	margin-left: 75px;
}
.lvl-2{margin-left: 75px;}

.lvl-three {
	margin-left: 150px;
}
.lvl-3{margin-left: 75px;}

.lvl-four {
	margin-left: 225px;
}

.lvl-five {
	margin-left: 300px;
}

.lvl-six {
	margin-left: 375px;
}

.lvl-seven {
	margin-left: 450px;
}

.lvl-eight {
	margin-left: 525px;
}

.lvl-nine {
	margin-left: 600px;
}

.lvl-ten {
	margin-left: 675px;
}


.main-container {
	display: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.view-options {
	display: inline-block;
	position: absolute;
	right: 0;
		top: 5px;
}

.default-view {
	margin-right: 15px;
}

@media only screen and (max-width: 1275px) {
  
  .big-container-wrapper {
		width: 95%;
  }
  
}

@media only screen and (max-width: 1235px) {
	#overlay {
	position: fixed; 
	display: block; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8); 
	z-index: 2; 
	cursor: pointer; 
	}

	#text {
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	}
}

.big-container-wrapper.nav-body-shift {
	margin-left: 300px;
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
  
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  
	-webkit-transform: translate3d(0, -50px, 0);
	-ms-transform: translate3d(0, -50px, 0);
	transform: translate3d(0, -50px, 0);
  
	-webkit-transition: -webkit-transform .5s ease-out;
	-ms-transition: -webkit-transform .5s ease-out;
	transition: transform .5s ease-out;
  }
  
  .pace.pace-active {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  
  .pace .pace-progress {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 10px;
	background: #29d;
  
	pointer-events: none;
  }

  /* leg-stack*/
.leg-view-container {
	clear:both;
	width:100%;
	margin-bottom: 25px;
	padding: 15px;
	text-align: center;
}
.leg-view-container p {
	margin-bottom: 0;
}
/* leg-stack*/
.lvl-container .go {
	cursor: pointer;
}
.mbId {cursor:pointer; 
    padding: 2px 5px; line-height: 36px; color:white}

.mbId:hover{background:#595959; border: 1px solid #595959;color:white;}

/* search_layout */
.binary-tree-header-right {
	*position: absolute;
	  *top: 8px;
	*right: 0;
    width: 80%;
    margin:0 auto;
    margin-top:25px;
	  margin-bottom: 25px;
}
.binary-tree-header-right button, .add-member-button {
	background-color: #113a56;
	border-color:#113a56;
	border-radius: 2px;
	color: white;
}
.binary-tree-header-right button:hover {
	cursor: pointer;
}
.binary-tree-header-right input {
	background-color: rgb(242, 242, 242);
	border: none;
	border-bottom: 1px solid rgb(124, 124, 124);
	font-size: 18px;
	margin-right: 15px;
	width: 180px;
}
.binary-tree-header-right input:focus {
	outline: none;
}
/* search_layout */
/* binary search result */
.structure_search_container{position:relative;display:none}
.structure_search_result{position:absolute; right:0;top:40px;width:250px; height:300px;background-color:#fff;text-align:center;padding:10px;transition:all 2s;overflow:auto;z-index:1; }
.result_btn{width:250px;text-align:center;padding:5px 2px;border-radius: 5px;background-color:rgb(0, 121, 211);color:#fff;position:absolute;top:350px;right:0;cursor:pointer;z-index: 999;}
.active{display:block;}
/* binary search result */

.structure_search_result > div {
	border-bottom: 1px solid #ccc;
	background-color: #333;
	border-radius: 5px;
	margin : 2px;

}

.lvl-container .lvl .description {
	font-size: 12px;
	font-weight: bold;
	float: right;
	margin: 7px 10px 0 0;
}
.lvl-container .lvl .description > span {
	display: inline-block;
}
.lvl-container .lvl .description > span.saleAll {
	width:100px;
}
.lvl-container .lvl .description > span.sale30 {
	width:90px;
}

.lvl-container .lvl .description > i.ranked {
	width: 100px;
	text-align: center;
}

.lvl-container .lvl .description > span, 
.lvl-container .lvl .description > i {
	font-size: 14px;
}

.lvl-container .lvl .description > span.purple{
	font-size: 16px;
}

.lvl-container .lvl .description > i.red {
	color: red;
}
.lvl-container .lvl .description > i.green{
	color: green;
}




@media only screen and (max-width: 960px) {
	.lvl-container .lvl .description {
		display: none;
	}
}

@media only screen and (max-width: 1150px) {
	.lvl-container .lvl .description {
		width: 300px;
		margin-top: 0px;
  }
}  

/*xx 0618_moon*/
  @media only screen and (max-width: 400px) {
    #levelStructure{
      clear: both;
      width:95%;
      margin:20px auto;
    }

    .lvl-one{
      width:100%;
      float:right;
      border:  1px solid #113a56;
      box-shadow: 1px 2px 2px grey;
    }
    .lvl-two{
      width:85%;
      float:right;
      border:  1px solid #cc8d3a !important;
      box-shadow: 1px 2px 2px grey;
    }
    .lvl-three{
      width:70%;
      float:right;
      border:  1px solid #53407A !important; 
      box-shadow: 1px 2px 2px grey;
    }
    .lvl-four{
      width:55%;
      float:right;
      border:  1px solid #e5e5e5 !important;
      box-shadow: 1px 2px 2px grey;
    }
    .lvl-five{
      display: none;
      width:40%;
      float:right;
      border:  1px solid #e5e5e5 !important;
    }
 
  }
/*xx 0618_moon*/