@keyframes slidein {
  from {
    margin-top: 50px;
    opacity: 0.7;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.breadcrumb {
  background: transparent;
  font-size: 12px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 1;
}
.breadcrumb .user-info {
  background: #fff;
  width: 100%;
  padding: 0 30px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.05);
}
.breadcrumb .user-info .user-content {
  border-radius: 20px;
  text-align: left;
  background: aliceblue;
}
.breadcrumb .user-info .user-content .userid {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 20px;
  margin-right: 10px;
  line-height: 42px;
  font-size: 24px;
  text-align: center;
}
.breadcrumb .user-info .user-content .userid + h4 {
  display: inline-block;
  color: #29386b;
  vertical-align: text-top;
}
.breadcrumb .user-info .user-content .mygrade {
  display: inline-block;
  vertical-align: text-top;
  margin: 0 10px;
}
.breadcrumb .user-info .notice_open {
  background: #5d96c6;
  padding: 3px 10px;
  margin-right: 15px;
}
.breadcrumb .user-info .total_view_wrap .row.top {
  margin: 10px 0px;
  background: aliceblue;
  border-radius: 10px;
}
.breadcrumb .user-info .total_view_wrap .rank_title {
  width: 100%;
  padding: 3px 10px;
  margin: 10px 20px -10px;
  background: #f0edff;
  border-radius: 10px;
}
.breadcrumb .user-info .total_view_wrap li {
  text-align: center;
  font-weight: bold;
  padding: 15px 0 10px;
}
.breadcrumb .user-info .total_view_wrap li .title {
  color: #29386b;
  font-size: 12px;
  line-height: 20px;
}
.breadcrumb .user-info .total_view_wrap li .value {
  color: #492191;
  font-size: 15px;
  line-height: 24px;
}
.breadcrumb .user-info .total_view_wrap .collapse .row {
  border-top: 1px solid #f3f7ff;
}
.breadcrumb .user-info .total_view_wrap .bonus_state_bg {
  width: 100%;
  height: 14px;
  margin-top: 7px;
  display: block;
  background: #eee;
  border-radius: 8px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.breadcrumb .user-info .total_view_wrap .bonus_state_bg .bonus_state_bar {
  float: left;
  position: relative;
  height: 14px;
  display: block;
  transition: all 0.1s;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #23a6d5, #23a6d5);
  background-size: 300% 300%;
}
.breadcrumb .user-info .total_view_wrap .bonus_state_bg .bonus_state_bar.active {
  border: 3px solid white;
  box-shadow: 0px 0px 5px 2px crimson;
}
.breadcrumb .user-info .total_view_wrap .bonus_per.active {
  color: white;
  font-size: 20px;
  transition: all 0.5s;
}
.breadcrumb .user-info .total_view_wrap .exp_per {
  z-index: 10;
  margin-top: -5px;
  font-weight: 300;
  position: relative;
  margin-top: -15px;
  margin-left: 5px;
  margin-right: 5px;
  width: initial;
  color: #666;
  text-shadow: 0px 1px white;
}
.breadcrumb .user-info .total_view_wrap .exp_per p {
  display: inline;
  font-size: 10px;
  position: absolute;
}
.breadcrumb .user-info .total_view_wrap .exp_per .start {
  float: left;
  left: 0;
}
.breadcrumb .user-info .total_view_wrap .exp_per .end {
  float: right;
  right: 0;
}
.breadcrumb .user-info .total_view_wrap .exp_per.active {
  color: white;
  text-shadow: none;
}
.breadcrumb .user-info .total_view_wrap .exp_per.min .start {
  color: white;
  text-shadow: none;
}
.breadcrumb .user-info .fold_wrap {
  cursor: pointer;
  width: 100%;
  height: 40px;
  text-align: center;
  position: relative;
}
.breadcrumb .user-info .fold_wrap .collap {
  font-weight: bold;
  color: #492191;
  font-size: 15px;
  position: relative;
  height: 35px;
}
.breadcrumb .user-info .fold_wrap .fold_img_wrap {
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.08);
  background: #492191;
  text-align: center;
  width: 34px;
  height: 34px;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 34px;
  margin-top: -10px;
}
.breadcrumb .user-info .fold_wrap .fold_img_wrap img {
  width: 14px;
  height: 14px;
  cursor: pointer;
  vertical-align: sub;
}

.dash_news {
  margin-bottom: -10px;
}

.close_news {
  font-size: 30px;
  float: right;
  margin-bottom: 15px;
  cursor: pointer;
}

.value_no {
  color: red;
}

.last_wrap .col-12 {
  padding: 0 22px;
}

.color0 {
  background: #cacaca !important;
}

.color1 {
  background: #6f42c1 !important;
}

.color2 {
  background: #516feb !important;
}

.color3 {
  background: #3b5977 !important;
}

.color4 {
  background: #03a9f4 !important;
}

.color5 {
  background: #343a40 !important;
}

.color6 {
  background: #2b3a6d !important;
}

.color9 {
  background: #6214ab !important;
}

.color10 {
  background: #6214ab !important;
}

.deg5 {
  background: linear-gradient(90deg, #23a6d5, #23a6d5) !important;
}

.deg25 {
  background: linear-gradient(90deg, #23a6d5, #23d5ab) !important;
}

.deg50 {
  background: linear-gradient(90deg, #23d5ab, #f8a731) !important;
}

.deg75 {
  background: linear-gradient(90deg, #f8a731, #e73c7e) !important;
}

.deg100 {
  background: linear-gradient(90deg, #e73c7e, #e73c7e) !important;
  border-radius: 8px;
}