$main-point-color:#3b86ff;
$main-sub-button:#8ddc30;
$second-color:#f5c97a;
$third-color:#c47c2e;
$back-color:#171716;

$navy-color:#1e5ab9;
$sky-color:#3b86ff;

#wrapper{}

/*인트로*/
#myBar {background-color: $main-point-color;}

.b_main{background:linear-gradient(0deg, $main-point-color,$main-sub-button) !important; color: #fff !important;}
.b_main:hover{background:$main-point-color}
.b_sub{background:linear-gradient(0deg, $navy-color,$sky-color) !important; color: #fff !important;}

.btn, a.btn{border-radius:3px;}
a.btn_secondary, .btn_secondary{
    color:black;
    background:rgba(255,255,255,0.8);
    border:1px solid white;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);

    &:hover{
        color:black;
        background:white;
    }
}

a.btn_primary, .btn_primary, .btn.btn_primary{
    border:1px solid $main-point-color;
    color:white;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
    background:linear-gradient(90deg, $main-point-color,$main-sub-button);
    transition:all 1s;
}

a.btn_cancle, .btn_cancle{
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
    color:black;
    border-radius: 8px;
    background:#ccc;

    &:hover{
        color:$main-sub-button;
        background:white;
        
    }
}

.user.selected{background:$main-sub-button}
.btn-primary{background:$main-sub-button}

/*대쉬보드*/
.day{color:#565656}
.history_latest{
    line-height:24px;
    .card_title{
        margin-bottom:15px;
    }
    .category{padding:0 10px;font-size:12px;}
    .price{color:#3b86ff;font-size:13px;font-weight:600}
}

.regist_latest{
    line-height:24px;
    font-size:12px;

    span{vertical-align: middle;}
    .card_title{
        margin-bottom:15px;
    }
    .id{font-size:14px;display:inline-block;min-width:80px;font-weight:600;margin:0 10px;}
    .badge{font-weight: 500;}
}

// breadcrumb
.total_view_top .row.top{
    margin:10px 0px;
    background:aliceblue;
    border-radius:10px;
}
.value_no{color:red}
.total_view_wrap .rank_title{width:100%;padding:3px 10px;margin:10px 20px -10px;background:#f0edff;border-radius: 10px;}

.ml10{margin-left:10px;}

.color0 {background: #cacaca !important}
.color1 {background: #b55dccd9 !important}
.color2 {background: #516feb !important;}
.color3 {background: #09c3fd !important;}
.color4 {background: #5ed2dc !important;}
.color5 {background: #373cbc !important;}
.color6 {background: #2b3a6d !important;}
.color9 {background: #6214ab !important;}
.color10 {background: #6214ab !important;}

/* @media screen and (min-width:768px) {
	body{background:#fff;color:white;}
	#wrapper{max-width:767px;margin:0 auto;}
}  */


