@charset "UTF-8";
@-webkit-keyframes slidein {
  from {
    margin-top: 50px;
    opacity: 0.7;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    margin-top: 50px;
    opacity: 0.7;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

header {
  position: relative;
  width: 100%;
  /* 모바일 메뉴 버튼 */
}

header a.close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 50px;
  text-align: center;
  color: #fff;
}

header .menu {
  position: absolute;
  top: 0;
  height: 100%;
  width: 54px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

header .menu img {
  height: 23px;
}

header .menu .menu_icon {
  font-size: 20px;
  color: #29386b;
}

header .menuback {
  position: absolute;
  width: 50px;
  height: 54px;
  text-align: center;
}

header .menuback a {
  height: 54px;
  width: 100%;
  line-height: 54px;
}

header .back_icon {
  font-size: 28px;
  color: inherit;
}

header .top_title {
  background: #fff;
  color: #29386b;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 20px;
}

header .top_title > a {
  height: 20px;
}

header .top_title h3 {
  line-height: 20px;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding-right: 13px;
  font-size: 1rem !important;
  margin-left: 25px;
}

header .top_title h3 img {
  height: 30px;
  vertical-align: middle;
  margin-top: -5px;
}

header .left_gnbWrap {
  height: 100%;
  position: fixed;
  width: 300px;
  left: -200px;
  top: 0;
  background-color: #fff;
  z-index: 999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  /*   i {
            margin-right: 7px;
            vertical-align: bottom;
        } */
}

header .left_gnbWrap .gnb_logo_top {
  height: 55px;
  display: inline-block;
  _margin-left: 50px;
  padding: 10px;
}

header .left_gnbWrap .close img {
  width: 20px;
  margin: 17px 0px;
}

header .left_gnbWrap .user-content {
  margin-bottom: 0px;
  padding: 0 10px;
  text-align: left;
  background: aliceblue;
}

header .left_gnbWrap .user-content .user_id {
  color: #29386b;
}

header .left_gnbWrap .user-content .userid {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: #f5f5f5;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  margin-left: 10px;
}

header .left_gnbWrap .user-content .user_wrap {
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

header .left_gnbWrap .user-content .user_wrap button {
  font-size: 12px !important;
  height: 22px;
  line-height: 10px;
}

header .left_gnbWrap.on {
  left: 0;
  visibility: visible;
}

header .left_gnbWrap .b_line3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

header .left_gnbWrap .left_gnb {
  padding: 10px 0;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: calc(100% - 200px);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .left_gnbWrap .left_gnb li a {
  display: inline-block;
  width: 100%;
  height: 30px;
  color: #29386b;
  font-size: 15px;
  padding: 3px 0 0 18px;
  position: relative;
}

header .left_gnbWrap .left_gnb li a:hover {
  color: #492191;
}

header .left_gnbWrap .left_gnb li a span {
  text-transform: uppercase;
  margin-left: 48px;
}

header .left_gnbWrap .left_gnb > li {
  width: 96%;
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 18px 0;
  margin-left: 5px;
}

header .left_gnbWrap .left_gnb > li img {
  width: 15px;
  margin-right: 10px;
}

header .left_gnbWrap .left_gnb > li > ul {
  display: none;
}

header .left_gnbWrap .left_gnb > li:hover {
  border-radius: 60px;
}

header .left_gnbWrap .left_gnb .logout_wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: 0px;
}

header .left_gnbWrap .left_gnb .logout_wrap a span {
  margin-left: 33px;
}

header .left_gnbWrap .left_gnb .logout_wrap li {
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 30px 25px;
  border-top: 1px solid #f1f4fb;
}

header .left_gnbWrap .left_gnb .logout_wrap li:nth-child(1) {
  width: 50%;
  padding: 15px;
  background-position: 25px 14px;
}

header .left_gnbWrap .left_gnb .logout_wrap li:nth-child(3) {
  width: 50%;
  padding: 15px;
}

header .left_gnbWrap .left_gnb .logout_wrap li:nth-child(3) a span {
  margin-left: 20px;
}

a.close:link {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 50px;
  text-align: center;
  color: #fff;
}

.dashboard_icon {
  background: url("../../../img/gnb/dashboard.png");
}

.dashboard_icon:hover {
  background: #eff3f9 url("../../../img/gnb/dashboard_blue.png");
}

.profile_icon {
  background: url("../../../img/gnb/profile.png");
}

.profile_icon:hover {
  background: #eff3f9 url("../../../img/gnb/profile_blue.png");
}

.mywallet_icon {
  background: url("../../../img/gnb/mywallet.png");
}

.mywallet_icon:hover {
  background: #eff3f9 url("../../../img/gnb/mywallet_blue.png");
}

.mining_icon {
  background: url("../../../img/gnb/mining.png");
}

.mining_icon:hover {
  background: #eff3f9 url("../../../img/gnb/mining_blue.png");
}

.upstairs_icon {
  background: url("../../../img/gnb/upstairs.png");
}

.upstairs_icon:hover {
  background: #eff3f9 url("../../../img/gnb/upstairs_blue.png");
}

.bonus_history_icon {
  background: url("../../../img/gnb/bonus_history.png");
}

.bonus_history_icon:hover {
  background: #eff3f9 url("../../../img/gnb/bonus_history_blue.png");
}

.recommend_icon {
  background: url("../../../img/gnb/recommend.png");
}

.recommend_icon:hover {
  background: #eff3f9 url("../../../img/gnb/recommend_blue.png");
}

.support_icon {
  background: url("../../../img/gnb/support.png");
}

.support_icon:hover {
  background: #eff3f9 url("../../../img/gnb/support_blue.png");
}

.notice_icon {
  background: url("../../../img/gnb/notice.svg");
}

.notice_icon:hover {
  background: #eff3f9 url("../../../img/gnb/notice_blue.png");
}

.question_icon {
  background: url("../../../img/gnb/question.png");
}

.question_icon:hover {
  background: #eff3f9 url("../../../img/gnb/question_blue.png");
}

.reffer_icon {
  background: url("../../../img/gnb/reffer.png");
}

.reffer_icon:hover {
  background: #eff3f9 url("../../../img/gnb/reffer_blue.png");
}

.logout_icon {
  background: url("../../../img/gnb/logout.png");
}

.logout_icon:hover {
  background: #eff3f9 url("../../../img/gnb/logout_blue.png");
}

.terms_icon:hover {
  background: #eff3f9;
}

.gnb_dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: none;
  z-index: 50;
}

.lang_selection {
  position: absolute;
  right: 15px;
  top: 8px;
}

@media screen and (min-width: 758px) {
  header {
    max-width: 100%;
  }
  header .menu {
    visibility: hidden;
  }
  header .left_gnbWrap {
    height: 100vh;
    position: fixed;
    visibility: visible;
    left: 0;
    -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
            box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
  }
  #wrapper {
    max-width: inherit;
    position: initial;
    left: 0;
    margin-left: 300px;
  }
  header .left_gnbWrap .close {
    left: -20%;
  }
}
/*# sourceMappingURL=gnb.css.map */