@charset "utf-8";
@import "../include/_variable";
@import "../include/_mixin";

#search-container {

    li {
        padding-left:0;
        list-style: none;
        margin-top: 15px;

        &:first-child {
            padding-right: 5px;
        }

        &:nth-child(2) {
            padding-right:5px;
        }

        &:nth-child(3) {
            padding-right:0px;
        }
    }

    .date_picker {
        margin-bottom:0;
        padding:10px;
        border-radius: 30px;
        font-size: 12px;
    }

    button {
        padding: 5px 0;
        background: $main-point-color;
        color: #fff;
    }
}

.bonus_history {

    .box-header {
        display:flex;
        vertical-align: top;
        line-height: 40px;
        font-size:1rem;
        min-height:40px;

        .d_sum {
            font-size:90%;
            vertical-align: top;
            color: $main-point-color;
            font-weight: bold;
        }
    }

    .box-body {
        margin:5px 0;
    }
    
    .box-body.history_detail {
        margin:5px 0;

        .inblock {
            background:transparent;
            padding:10px 0;
            line-height:38px;           

            &:last-child {
                margin-bottom:-10px;
            }

            &:hover {
                background:#e1e1e1;
            }

            dt {
                width:38%;
                text-align:left;
                padding-left:15px;
                font-size: 14px;               
            }

            dd {
                width:60%;
                margin-left:2%;
                text-align:right;
                padding-right:5px;

                span {
                    font-size: 14px;
                }
            }
        }

        .block {
            padding:10px 0;
            min-height:30px;

            div {
                font-size: 14px;

                span {
                    font-size: 14px;
                }
            }
        }
    }
}

.b_hist_exp{font-size:11px;}
.more_btn{margin-top:-8px !important;}
.content-box .caret{margin-right:5px;}
.usd_value{font-weight: bold;font-size:16px;}

#daily.content-box{border-left:3px solid cornflowerblue}
#direct.content-box{border-left:3px solid $main-point-color}
#rollup.content-box{border-left:3px solid slateblue}
#level.content-box{border-left:3px solid slategray}
#center.content-box{border-left:3px solid teal}

.currency{font-size:12px;}
.price{font-size:13px;font-weight: 600;}

@media only screen and (max-width: 450px) {

	.filter_btn{
		padding-left:2px !important;
		padding-right:2px !important;
	}
}
