@keyframes slidein {
  from {
    margin-top: 50px;
    opacity: 0.7;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.mywallet .loadable {
  display: none;
}
.mywallet .loadable .wallet_title {
  margin: 5px 0 20px;
  color: #29386b;
  font-weight: bold;
  text-align: left;
  display: inline-block;
}
.mywallet .loadable .qrBox {
  margin-bottom: 10px;
}
.mywallet .loadable .qrBox .qr_img {
  width: 100px;
}
.mywallet .loadable .qrBox_right .wallet_addr {
  width: 100%;
  text-align: left;
  border: none !important;
  outline: 0;
  font-size: 10px;
  color: #492191;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.mywallet .loadable .bank_info {
  font-size: 15px;
  font-weight: 600;
  background: #f5f5f5;
  padding: 20px 10px;
  margin: 10px 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.mywallet .loadable .bank_account {
  background: transparent;
  border: 0;
  box-shadow: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #492191;
  text-align: center;
  font-size: 16px;
}
.mywallet .loadable .sel_price {
  font-size: 16px;
  background: white;
  margin: 20px 10px 0 10px;
  padding: 10px;
  border: 1px solid #ddd;
}
.mywallet .loadable.active {
  display: block;
  animation: slidein 0.5s ease-out;
  -webkit-animation: slidein 0.5s ease-out;
}
.mywallet .btn_ly {
  display: block;
  width: 100%;
  text-align: center;
}
.mywallet .btn_ly .pre_price {
  background: white;
  color: #333;
  padding: 10px;
}
.mywallet .btn_ly .pre_price .deposit_price {
  display: block;
  margin-top: -5px;
  margin-bottom: 5px;
  padding-bottom: 3px;
  border-bottom: 1px dotted #ccc;
}
.mywallet .line_btn {
  border-radius: 30px;
}
.mywallet .line_btn:hover {
  background: ghostwhite;
  box-shadow: 0 0 0 2px royalblue;
}
.mywallet .btn span {
  color: #29386b;
  font-weight: bold;
}

.my_btn_wrap {
  margin: 20px 0;
}
.my_btn_wrap button {
  padding: 15px;
}
.my_btn_wrap .deposit_btn {
  background: #302783 !important;
  color: #fff;
}
.my_btn_wrap .withdraw_btn {
  background: #ec2b38 !important;
  color: #fff;
}

input[type=text].modal_input {
  background: #ededed;
  margin-top: 10px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 0;
  text-align: center;
  width: 50%;
}

.time_remained {
  display: block;
  text-align: center;
}

.processcode {
  color: red;
  display: block;
  text-align: center;
  font-size: 13px;
}

#upbit_curency {
  margin-bottom: 20px;
  margin-top: -20px;
}

.coin_icon {
  background: white;
  border-radius: 50%;
  padding: 5px;
}

.upbit_logo {
  width: 65px;
  display: inline-block;
  margin-left: 10px;
}

.checkbox-tile {
  width: 100%;
}

.refresh_btn {
  flex: auto;
  text-align: right;
  line-height: 24px;
}

#coin_refresh {
  line-height: 30px;
}

.checkbox-tile {
  display: block;
  text-align: center;
}

#curency_usdt_eth {
  display: inline;
}

#select_deposit_coin,
#select_coin {
  height: 44px;
  border: 2px solid #1f9df5;
}

.txt-box {
  font-size: 12px;
  color: red;
}

.dark .txt-box {
  color: #fac707;
}

.in_coin i {
  font-size: 16px;
}

.in_coin {
  margin-top: -10px;
  font-size: 13px;
}

.account_select {
  margin-bottom: 10px;
}

.card_title {
  text-align: center;
}

.cabinet {
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}

.account_card.active {
  background: #3b86ff;
  color: white;
}

.account_card.active p {
  color: white;
  font-weight: bold;
}

.dark .account_card.active {
  background: #fac707;
}
.dark .account_card.active p {
  color: black;
  font-weight: bold;
}
.dark #coin_refresh:hover i {
  color: #FECE00;
}
.dark #upbit_curency {
  color: white;
}
.dark .checkbox-tile {
  color: rgba(255, 255, 255, 0.75);
}

#pin_open {
  background: #492191;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

#Withdrawal_btn {
  background: #29386b;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

#withdraw .title {
  float: left;
}
#withdraw .desc {
  margin-right: 0;
  line-height: 30px;
}
#withdraw .sub_title {
  color: #492191;
}
#withdraw .coin_select_wrap {
  float: right;
}
#withdraw .input_shift_value {
  margin-top: 10px;
}
#withdraw .input_shift_value .sub_title {
  height: 28px;
}
#withdraw .input_shift_value .max_btn_wrap {
  float: right;
}
#withdraw .comment {
  font-size: 13px;
  color: #565656;
  margin: 3px 0;
  float: right;
}

#sendCoin {
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.03);
  border-bottom: none;
}

#deposit input.confirm_hash {
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.03);
  -webkit-border-top: 1px solid rgba(0, 0, 0, 0.03);
  border-bottom: none;
}
#deposit .deposit_request {
  background: #492191;
  border-radius: 5px;
}
#deposit .deposit_request span {
  color: white;
}
#deposit .row1_right {
  margin-top: 0px;
  font-size: 10px;
  width: 100%;
}
#deposit .hist_value {
  display: inline;
  width: 50%;
}
#deposit .hist_value.eth {
  float: right;
  font-size: 14px;
}

#usdt .pre_price {
  border: 3px solid #4556ff;
}
#usdt .d_price {
  color: #4556ff;
}

#eth .pre_price {
  border: 3px solid dodgerblue;
}
#eth .d_price {
  color: dodgerblue;
}

.fee {
  display: none;
  margin-top: -10px;
  color: #555;
  height: 30px;
  text-align: right;
  font-size: small;
  margin: -10px -15px 10px;
}
.fee .ri-exchange-fill {
  font-size: 18px;
  margin-right: 3px;
  color: #492191;
}
.fee .fees {
  color: #492191;
  font-weight: 500;
}
.fee .ri-money-dollar-circle-line {
  font-size: 18px;
  margin-right: -6px;
}

#active_amt {
  color: black;
  font-weight: 600;
  font-size: 13px;
}

.percent {
  font-size: 10px !important;
  font-weight: 300 !important;
}

#fee_val {
  margin-left: 5px;
}

.send-button-container .col-5 {
  padding-right: 0px;
}
.send-button-container .col-7 {
  padding-left: 5px;
}

.ad_deposit {
  font-style: italic;
}

.fee_left {
  padding-right: 0;
}

.fee_right {
  padding-left: 0;
}

@media only screen and (max-width: 414px) {
  .mywallet .wallet_title {
    font-size: 14px;
  }
  .mywallet .qrBox_right .wallet_addr {
    font-size: 10px;
  }
}