@charset "UTF-8";
@keyframes slidein {
  from {
    margin-top: 50px;
    opacity: 0.7;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.profile .person_info {
  width: 100%;
  display: block;
}
.profile .person_info .userid {
  width: 40px;
  height: 40px;
}
.profile .person_info .myid {
  margin-left: 10px;
  vertical-align: top;
  line-height: 40px;
}
.profile .person_info .mygrade {
  vertical-align: top;
  margin-top: 10px;
}
.profile label + p {
  text-indent: 10px;
  margin-top: 5px;
}

.profile-box {
  margin-bottom: 50px;
  padding: 0 10px;
}
.profile-box ul:last-child li {
  border-bottom: 0;
}
.profile-box ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #7e8fad;
  margin-bottom: -10px;
}
.profile-box ul li label {
  font-weight: 120;
  color: #492191;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
  font-size: 12px;
  top: -3px;
  position: relative;
  float: left;
  height: 10px;
  margin: 2px 0 5px;
}
.profile-box ul li label.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 0;
  left: 0;
  vertical-align: middle;
  margin: 0;
  height: inherit;
}
.profile-box ul li p {
  display: inline-block;
  letter-spacing: 0px;
  padding-bottom: 5px;
  font-size: 16px;
  float: left;
  clear: left;
  color: #29386b;
  font-weight: bold;
}
.profile-box ul li span {
  line-height: 42px;
  font-size: 14px;
}
.profile-box .btn {
  font-size: 13px !important;
}
.profile-box .title {
  font-size: 16px;
  font-weight: bold;
  color: #29386b;
  border-bottom: 2px solid #f1f4fb;
}
.profile-box .title i {
  vertical-align: sub;
}
.profile-box .title img {
  width: 20px;
}
.profile-box .ch_pw_open, .profile-box .ch_tpw_open, .profile-box .ch_wallet_open {
  font-size: 28px;
  padding-top: 10px;
  cursor: pointer;
}

.switch_box {
  top: -5px;
  display: contents;
}
.switch_box p {
  line-height: 30px;
  font-weight: bold;
}

/*전화번호변경*/
.num_pop_div {
  margin-bottom: 15px;
}
.num_pop_div input {
  float: left;
}
.num_pop_div input:first-child {
  width: 30%;
}
.num_pop_div input:last-child {
  width: calc(70% - 15px);
  margin-left: 15px;
}

.deposit_text {
  padding-left: 10px;
  font-size: 13px;
  color: red;
}

@media only screen and (max-width: 414px) {
  .profile-box ul li p {
    font-size: 14px;
  }
}