@charset "utf-8";

.red{color:red}
.text-center{text-align:center}
.sch_last{display:inline-block;}
.rank_img{width:20px;height:20px;margin-right:10px;}
.btn_submit{width:100px;margin-left:20px;}
.black_btn{background:#333 !important; border:1px solid black !important; color:white;}