$breakpoint-mobile: 335px;
$breakpoint-iphone-678: 413px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-wide: 1200px;

$main-color: #3b86ff;
$sub-color: #8734d4;

$main2-color:#37d2fd;
$sub2-color:#c73bda;

$second-color: #f5c97a;
$third-color: #c47c2e;
$back-color: #171716;

$navy-color: #1e5ab9;
$sky-color: #3b86ff;

$main-colors: #ffd965 ;
$font-sub-colors: #fff ;
$main-button-color:#fff ;

$main-button: #fbe591 ;
$main-button2: #fac707 ;
$main-button3: #4c6072 ;
$main-button4: #202b38 ;

$main-background: #212429 ;
$main-background2: #17191d ;
$main-background3: #2c2f34 ;
$gnb-line: #2c3037 ;
$user-icon: #363c46 ;
$breabcrumb-line: #2c3037 ;
$fold-img: #f9d448 ;

$line: #2c3037 ;
$binary-line: #262a31 ;
$binary-left1: #5f9eec ;
$binary-left1-1: #1d76e4 ;
$binary-right1: #445d72 ;
$binary-right1-1: #2a3e53 ;


$r-card0: #736ad0 ;
$r-card0-1: #5647ad ;
$r-card1: #736ad0 ;
$r-card1-1: #5647ad ;
$r-card2: #5e7dc6 ;
$r-card2-1: #415ba3 ;
$r-card3: #4e8ecb ;
$r-card3-1: #316ba9 ;
$r-card4: #227f9c ;
$r-card4-1: #055c7a ;
$r-card5: #586875 ;
$r-card5-1: #3b4652 ;
$r-card6: #7e524b ;
$r-card6-1: #50320b ;
$r-card7:  #bda253 ;
$r-card7-1: #cfa21c ;


// 유저 아이콘
$user-icon0: #363c46 ;
// $user-icon1: 

$withdraw-btn-background: #ffd965 ;
$main-point-color: #3b86ff ;
$main-button-color:#3b86ff ;

// enroll
$userSelected_background: #cfa831 ;

// 마이닝
$mining_withdraw_background: #3d4247 ;
$form_send_button: #cfa831 ;

// mypool
$from_id_background: #cfa831 ;
$total_mining1: #052645 ;
$total_mining1_1: #004a95 ;
$mega_mining1: #004e99 ;
$mega_mining1_1:#2d7dcb ;
$zeta_mining1: #034d64 ;
$zeta_mining1_1: #287d9b ;
$zetaplus_mining1:#252e38 ;
$zetaplus_mining1_1:#414d5a ;
$super_mining1:#2f568f ;
$super_mining1_1:#733f88 ;
$super_mining1_2: #9c3284 ;

// $zeta_mining1: #5677ca ;
// $zeta_mining1_1: #274090 ;
// $zetaplus_mining1: #6b56db ;
// $zetaplus_mining1_1: #473890 ;
// $super_mining1: #414d5a ;
// $super_mining1_1: #252e38 ;

// support
$ticket_header_background: #FECE00 ;

// structure
$search_background: #cfa831 ;

// gnb메뉴 아이콘 
$white: "../../img/gnb/menu_set_white.svg";
$white_hover: "../../img/gnb/menu_set_white_hover.svg";
$dark: "../../img/gnb/menu_set_dark.svg";
$dark_hover: "../../img/gnb/menu_set_dark_hover.svg";

// 테마 백그라운드 설정
$main-theme-type: white-theme; // 테마 모드 설정 

@if $main-theme-type == white-theme {
    $mypool_title: #333 ;
} @else if($main-theme-type == dark-theme) {
    $mypool_title: #fff ;
}
