@keyframes slidein {
  from {
    margin-top: 50px;
    opacity: 0.7;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.login_wrap {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.login_wrap .logo_login_div img {
  max-width: 220px;
}
.login_wrap form label {
  margin-bottom: 10px;
  display: block;
  text-align: left;
  font-size: 14px;
}
.login_wrap form input {
  color: black;
}
.login_wrap form .login_btn_bottom {
  margin-top: 2vh;
}
.login_wrap form .login_btn_bottom a.btn_basic_block {
  padding: 0px;
  margin: 30px 0px 10px;
}

a.desc {
  font-size: 13px;
  text-decoration: underline;
  color: #565656;
}

.adm_title {
  background: #ffca22;
  color: white;
  padding: 2px 30px;
  font-size: 1em;
  border-radius: 25px;
  margin-top: 20px;
  display: block;
}

.helpmail {
  background: white;
  width: 100%;
  margin-top: 30px;
  display: none;
}

#wrapper {
  background: #f5f5f5;
}

@media screen and (min-width: 758px) {
  body {
    background: #fff;
  }
  #wrapper {
    max-width: 767px;
    margin: 0 auto;
  }
}